<div class="content">

    <h3 class="notice"><%= notice %></h3>
    <h2 class="content-title">Customer List</h2><br>

    <table>
        <thead>
            <tr>
                <th class="actions" >Info</th>
                <th class="actions">ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
            <tr>
                <td class="actions">
                    <%= link_to customer_path(customer) do %>
                        <i class="fa-solid fa-bars" style="color: #1B4242;"></i>
                    <% end %>
                </td>
                <td class="actions"><%= customer.id %></td>
                <td><%= customer.full_name %></td>
                <td><%= truncate(customer.email, length: 10) %></td>
                <td><%= truncate(customer.address, length: 9) %></td>
                <td><%= customer.contact_number %></td>
                <td class="actions">
                    <%= link_to edit_customer_path(customer) do %>
                        <i class="fa-solid fa-pen-to-square" style="color: #5C8374;"></i>
                    <% end %>
                    <%= link_to delete_customer_path(customer) do %>
                        <i class="fa-solid fa-delete-left" style="color: #9b031f;"></i>
                    <% end %>
                </td>
            </tr>
        
        <% end %>
        </tbody>
    </table>

    <br> 

    <div class="button">
        <%= link_to 'Add New Customer', new_customer_path %>
    </div>
</div>


