<h3><%= notice %></h3>

<h2 class="customer-title">Customer No. <%= @customer.id %></h2>

<table>
    <tr>
        <th> Full Name </th>
        <td> <%= @customer.full_name %> </td>
    </tr>
    <tr>
        <th> Email </th>
        <td> <%= @customer.email %> </td>
    </tr>
    <tr>
        <th> Address </th>
        <td> <%= @customer.address %> </td>
    </tr>
    <tr>
        <th> Contact Number </th>
        <td> <%= @customer.contact_number %> </td>
    </tr>
    <tr>
        <th> Created at </th>
        <td> <%= @customer.created_at %> </td>
    </tr>
    <tr>
        <th> Actions </th>
        <td>
            <%= link_to 'Edit', edit_customer_path %>
            <%= link_to 'Delete', delete_customer_path %>
        </td>
    </tr>
</table> <br>

<div class="button">
    <%= link_to 'Cars', cars_path %> <span>|</span>
    <%= link_to 'Customers', customers_path %> <span>|</span>
    <%= link_to 'Rentals', rentals_path %>
</div>