<div class="content">
    <h2 class="content-title">Rental Transactions</h2><br>

    <table>
        <thead>
            <tr>
                <th class="actions">Info</th>
                <th class="actions">ID</th>
                <th>Car</th>
                <th>Customer</th>
                <th>Start Date</th>
                <th>Return Date</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>

        <tbody>
        <% @rentals.each do |rental| %>
            <tr>
                <td class="actions">
                    <%= link_to rental_path(rental) do %>
                        <i class="fa-solid fa-bars" style="color: #1B4242;"></i>
                    <% end %>
                </td class="actions">
                <td><%= rental.id %></td>
                <td><%= rental.car.try(:car_name) %></td>
                <td><%= rental.customer.try(:full_name) %></td>
                <td><%= rental.start_date %></td>
                <td><%= rental.end_date %></td>
                <td class="actions">
                    <%= link_to edit_rental_path(rental) do %>
                        <i class="fa-solid fa-pen-to-square" style="color: #5C8374;"></i>
                    <% end %>
                    <%= link_to delete_rental_path(rental) do %>
                        <i class="fa-solid fa-delete-left" style="color: #9b031f;"></i>
                    <% end %>
                </td>
            </tr>
        
        <% end %>
        </tbody>
    </table>

    <br> 

    <div class="button">
        <%= link_to 'Add New Transaction', new_rental_path %>
    </div>

</div>