<div class="content">

    <h3 class="notice"><%= notice %></h3>
    <h2 class="content-title">Car List</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Car Model</th>
                <th>Plate Number</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>

        <tbody>
        <% @cars.each do |car| %>
            <tr>
                <td><%= car.id %></td>
                <td><%= car.make %></td>
                <td><%= car.model %></td>
                <td><%= car.plate_number %></td>
                <td class="actions">
                    <%= link_to 'Show', car_path(car) %>
                    <%= link_to 'Edit', edit_car_path(car) %>
                    <%= link_to 'Delete', delete_car_path(car) %>
                </td>
            </tr>
        
        <% end %>
        </tbody>
    </table>

    <br> 

    <div class="button">
        <%= link_to 'Add New Car', new_car_path %>
    </div>
</div>


