<!DOCTYPE html>
<html>
  <head>
    <title>Car Rental System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id="header">
      <label class="logo">RailsRides.</label>
      <ul id="topnav">
        <li><span><%= link_to 'CARS', cars_path %></span></li>
        <li><span><%= link_to 'CUSTOMERS', customers_path %></span></li>
        <li><span><%= link_to 'RENTALS', rentals_path %></span></li>
        <li><span>Welcome, Admin!</span></li>
      </ul>
    </nav>

    <div class="container">
      <section class="main-box1">
        <div id="title">
          <h1>Ruby on Wheels</h1>
          <h3>RailsRides. <span>Drive the Gem Route.</span></h3>
        </div>
        <div id="description">
          <%= image_tag('yar.png', class: 'img') %>
          <%= image_tag('yar2.png', class: 'img2') %>
          <p class="desc1">CHOOSE TO <span>DRIVE</span> 
            INTO THE <strong>FUTURE.</strong></p>
        </div>
      </section>

      <section class="main-box2">
        <section class="header">
          <div id="title2">
            <h2>Car Rental <span>Services</span></h2>
          </div>
        </section>

        <section class="content-box">
          <%= yield %>
        </section>
      </section>
    </div>

  </body>
</html>
